<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <title>Covalense Assessment</title>
    <link rel="stylesheet" href="/styles/app.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/98cb20e6a9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="container-fluid background-white">
        <section class="row">
            <aside class="col-4 brand align-items-center">
                <a href="#">csmart</a>
            </aside>
            <aside class="col-4 align-items-center">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input placeholder="Type to search" name="search" class="form-control" type="text">
                    <i class="fa-solid fa-circle-chevron-down"></i>
                </div>
            </aside>
            <aside class="col-4 align-items-center">
                <ul class="actions">
                    <li>
                        <button class="btn btn-outline-secondary">
                            <i class="fa-solid fa-dollar-sign"></i>
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-outline-secondary">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-outline-secondary">
                            <i class="fa-solid fa-check"></i>
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-outline-secondary">
                            <i class="fa-solid fa-user"></i>
                        </button>
                    </li>
                </ul>
            </aside>
        </section>
    </header>
    <main>
        <section class="container-fluid">
            <aside class="row">
                <div class="col-6">
                    <a href="#">Home</a>>><a>All accounts</a>>><a class="gradient-text">CSmartDev2023</a>
                </div>
                <div class="col-6 align-items-end">
                    <ul class="actions">
                        <li>
                            <button class="btn btn-secondary">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-secondary">
                                <i class="fa-solid fa-table-list"></i>
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-secondary">
                                <i class="fa-solid fa-table-list"></i>
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-secondary">
                                <i class="fa-solid fa-sliders"></i>
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-secondary"><i class="fa-solid fa-pencil"></i> Customize</button>
                        </li>
                    </ul>
                </div>
            </aside>
        </section>
        <section class="container-fluid background-white">
            <aside class="row  sub-nav">
                <nav>
                    <ul>
                        <li>
                            <button class="btn"><i class="fa-solid fa-arrow-left"></i> Back</button>
                        </li>
                        <li>
                            <button class="btn"><i class="fa-solid fa-phone"></i> Call</button>
                        </li>
                        <li><button class="btn"><i class="fa-regular fa-envelope"></i> Mail</button></li>
                        <li><button class="btn"><i class="fa-regular fa-message"></i> Message</button></li>
                        <li><button class="btn"><i class="fa-solid fa-chart-line"></i> Activities</button></li>
                    </ul>
                </nav>
            </aside>
            <aside class="row">
                <ul class="nav nav-pills mb-3 border-bottom" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active-text" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                            type="button" role="tab" aria-controls="pills-home" aria-selected="true">Account Details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Customer 360</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                        tabindex="0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-1">
                                    <div class="user-image">
                                        <span class="gradient-text">MQ</span>
                                    </div>
                                </div>
                                <div class="col-11">
                                    <h3>Malcolm Quaday</h3>
                                    <div class="row border-bottom">
                                        <div class="col-2">
                                            <div>
                                                <h5 class="gray-text small-text">Account Number <span>CSmartDev2023</span></h5>
                                            </div>
                                            <div>
                                                <h5 class="gray-text small-text">Phone Number <span>+123 456 7890</span></h5>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div>
                                                <h5 class="gray-text small-text">Customer Type <span>Business</span></h5>
                                            </div>
                                            <div>
                                                <h5 class="gray-text small-text">Status <span class="green-text">Active</span></h5>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div>
                                                <h5 class="gray-text small-text">Total Revenue <span>$5000.00</span></h5>
                                            </div>
                                            <div>
                                                <h5 class="gray-text small-text">Platform <span>Postpaid</span></h5>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div>
                                                <h5 class="gray-text small-text">Customer rating</h5>
                                                <h6></h6>
                                            </div>
                                            <div>
                                                <h5 class="gray-text small-text">Credit Score <span class="green-text">Good</span></h5>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div>
                                                <h5 class="gray-text small-text">KYC Status <span><i class="fa-regular fa-circle-check green-text"></i> Verified</span></h5>
                                            </div>
                                            <div>
                                                <h5 class="gray-text small-text">Balance <span>$200.00</span></h5>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div>
                                                <h5 class="gray-text small-text">Loyal Points <span>100</span></h5>
                                            </div>
                                            <div>
                                                <h5 class="grauy-text small-text">Address <span>Lorem Ipsum, CA</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-3">
                                            <h6 class="gray-text">Assigned to 
                                                <span class="badge green">John Doe</span>
                                                <span class="badge green">+3 More</span>
                                            </h6>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="gray-text">Related Contacts 
                                                <span class="badge info-blue">Malcolm Quaday</span>
                                                <span class="badge info-blue">+32 More</span>
                                            </h6>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="gray-text">Documents 
                                                <span class="badge warn">Identity Card</span>
                                                <span class="badge warn">+5 More</span>
                                            </h6>
                                        </div>
                                        <div class="col-3">
                                            <span class="gray-text">Complaints 
                                                <span class="badge green">10 Tickets</span>
                                            </span>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                        ...</div>
                </div>
            </aside>
        </section>
        <section class="container-fluid"></section>
        <section class="container-fluid cards background-white">
            <aside class="row">
                <h6>Assets Information <span class="badge info-blue">SIM 123 456 78</span></h6>
                <div class="card col">
                    <div class="card-body">
                        <div class="row">
                            <div class="left col-3">
                                <div class="document green square">
                                    <i class="fa-solid fa-mobile"></i>
                                </div>
                            </div>
                            <div class="right container col-8">
                                <h6 class="card-title">iPhone 14 Pro</h6>
                                <h6 class="card-subtitle">Asset Number <span>1234567890</span></h6>
                            </div>
                            <div class="actions col-sm-1">
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <h6 class="gray-text">Status</h6>
                                <h6 class="green-text">Active</h6>
                            </div>
                            <div class="col">
                                <h6 class="gray-text">Start Date</h6>
                                <h6>12 Jul 2023</h6>
                            </div>
                            <div class="col">
                                <h6 class="gray-text">Valid Till</h6>
                                <h6>None</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col">
                    <div class="card-body">
                        <div class="row">
                            <div class="left col-3">
                                <div class="document gray square">
                                    <i class="fa-solid fa-message"></i>
                                </div>
                            </div>
                            <div class="right container col-8">
                                <h6 class="card-title">100 SMS Pack</h6>
                                <h6 class="card-subtitle">Asset Number <span>1234567890</span></h6>
                            </div>
                            <div class="actions col-sm-1">
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <h6 class="gray-text">Status</h6>
                                <h6>Inactive</h6>
                            </div>
                            <div class="col">
                                <h6 class="gray-text">Start Date</h6>
                                <h6>12 Jul 2023</h6>
                            </div>
                            <div class="col">
                                <h6 class="gray-text">Valid Till</h6>
                                <h6>None</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col">
                    <div class="card-body">
                        <div class="row">
                            <div class="left col-3">
                                <div class="document green square">
                                    <i class="fa-solid fa-database"></i>
                                </div>
                            </div>
                            <div class="right container col-8">
                                <h6 class="card-title">50 GB Data Booster</h6>
                                <h6 class="card-subtitle">Asset Number <span>1234567890</span></h6>
                            </div>
                            <div class="actions col-sm-1">
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                            </div>
                            <div class="row">
                                <div class="col"></div>
                                <div class="col">
                                    <h6 class="gray-text">Status</h6>
                                    <h6 class="green-text">Active</h6>
                                </div>
                                <div class="col">
                                    <h6 class="gray-text">Start Date</h6>
                                    <h6>12 Jul 2023</h6>
                                </div>
                                <div class="col">
                                    <h6 class="gray-text">Valid Till</h6>
                                    <h6>None</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col">
                    <div class="card-body">
                        <div class="row">
                            <div class="left col-3">
                                <div class="document danger square">
                                    <i class="fa-solid fa-phone-volume"></i>
                                </div>
                            </div>
                            <div class="right container col-8">
                                <h6 class="card-title">12 Months Voice Pack</h6>
                                <h6 class="card-subtitle">Asset Number <span>1234567890</span></h6>
                            </div>
                            <div class="actions col-sm-1">
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                            </div>
                            <div class="row">
                                <div class="col"></div>
                                <div class="col">
                                    <h6 class="gray-text">Status</h6>
                                    <h6 class="danger-text">Active</h6>
                                </div>
                                <div class="col">
                                    <h6 class="gray-text">Start Date</h6>
                                    <h6>12 Jul 2023</h6>
                                </div>
                                <div class="col">
                                    <h6 class="gray-text">Valid Till</h6>
                                    <h6>None</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col">
                    <div class="card-body">
                        <div class="row">
                            <div class="left col-3">
                                <div class="document gray square">
                                    <i class="fa-solid fa-database"></i>
                                </div>
                            </div>
                            <div class="right container col-8">
                                <h6 class="card-title">10 GB Data Booster</h6>
                                <h6 class="card-subtitle">Asset Number: <span>1234567890</span></h6>
                            </div>
                            <div class="actions col-sm-1">
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                            </div>
                            <div class="row">
                                <div class="col"></div>
                                <div class="col">
                                    <h6 class="gray-text">Status</h6>
                                    <h6>Inctive</h6>
                                </div>
                                <div class="col">
                                    <h6 class="gray-text">Start Date</h6>
                                    <h6>12 Jul 2023</h6>
                                </div>
                                <div class="col">
                                    <h6 class="gray-text">Valid Till</h6>
                                    <h6>None</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </section>
        <section class="container-fluid contract">
            <div class="row">
                <div class="col background-white">
                    <div class="title">
                        <h6>Contract</h6>
                        <div class="actions">
                            <button class="btn btn-light"><i class="fa-solid fa-plus"></i> Add</button>
                            <button class="btn btn-light"><i class="fa-solid fa-sliders"></i> Manage Contacts</button>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="contract-card">
                                                <div class="left">
                                                    <div class="document green">
                                                        <i class="fa-regular fa-file-lines"></i>
                                                    </div>
                                                    <h6 class="card-title documentId">CON12345</h6>
                                                </div>
                                                <div class="right">
                                                    <span class="badge green">Download Contract</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <h6 class="card-title gray-text">Status</h6>
                                                <p class="card-subtitle success-text-color">Active</p>
                                            </div>
                                            <div class="col-3">
                                                <h6 class="card-title gray-text">Duration</h6>
                                                <p class="card-subtitle">365 Days</p>
                                            </div>
                                            <div class="col-3">
                                                <h6 class="card-title gray-text">Start Date</h6>
                                                <p class="card-subtitle">12 July 2023</p>
                                            </div>
                                            <div class="col-3">
                                                <h6 class="card-title gray-text">End Date</h6>
                                                <p class="card-subtitle">12 July 2024</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col card">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="contract-card">
                                            <div class="left">
                                                <div class="document danger">
                                                    <i class="fa-regular fa-file-lines"></i>
                                                </div>
                                                <h6 class="card-title documentId">CON12345</h6>
                                            </div>
                                            <div class="right">
                                                <span class="badge danger-badge">Download Contract</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <h6 class="card-title">Status</h6>
                                            <p class="card-subtitle success-text-color">Active</p>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="card-title">Duration</h6>
                                            <p class="card-subtitle">365 Days</p>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="card-title">Start Date</h6>
                                            <p class="card-subtitle">12 July 2023</p>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="card-title">End Date</h6>
                                            <p class="card-subtitle">12 July 2024</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col background-white">
                    <div class="title">
                        <h6>Documents</h6>
                        <div class="actions">
                            <button class="btn btn-light">+ Add</button>
                            <button class="btn btn-light">Manage Contacts</button>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col card">
                                <div class="card-body">
                                    <div class="left">
                                        <div class="document violet">
                                            <i class="fa-regular fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="right container">
                                        <h6 class="card-title">iPhone 14 Pro</h6>
                                        <h6 class="card-subtitle"><span>1234567890</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col card">
                                <div class="card-body">
                                    <div class="left">
                                        <div class="document violet">
                                            <i class="fa-regular fa-address-card"></i>
                                        </div>
                                    </div>
                                    <div class="right container">
                                        <h6 class="card-title">iPhone 14 Pro</h6>
                                        <h6 class="card-subtitle">GSTIN <span>1234567890</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col card">
                                <div class="card-body">
                                    <div class="left">
                                        <div class="document violet">
                                            <i class="fa-regular fa-address-card"></i>
                                        </div>
                                    </div>
                                    <div class="right container">
                                        <h6 class="card-title">iPhone 14 Pro</h6>
                                        <h6 class="card-subtitle">TAN: <span>1234567890</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid background-white">
            <div class="row">
                <div class="col-6">
                    <div class="title">
                        <h6>Order Details</h6>
                    </div>
                    <div class="graph">
                        <img src="./images/Line-Graph.png" class="img-fluid">
                    </div>
                </div>
                <div class="col-6">
                    <div class="title">
                        <h6>Compliants/Tickets</h6>
                    </div>
                    <div class="graph">
                        <img src="./images/Line-Graph.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>